// Listing Card Element Content
.directorist-gutenberg-listing-card-element-content{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0;
    font-size: 14px;
    line-height: 1.3;
    color: var(--directorist-color-body);

    .directorist-gutenberg-listing-card-element-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        width: 20px;
        height: 20px;
        color: currentColor;

        svg {
            width: 100%;
            height: 100%;
            fill: currentColor;
        }
    }
    .directorist-gutenberg-listing-card-element-label{
        display: inline-block;
        margin-right: 5px;
    }
}

// Listing Card Badge Styles
.directorist-gutenberg-listing-badge{
    display: inline-flex;
    gap: 4px;
    align-items: center;
    justify-content: center;
    width: auto;
    padding: 5px 7px;
    border-radius: 4px;
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    svg{
        width: 14px;
        height: 14px;
        fill: currentColor;
    }
    span{
        line-height: 0;
    }
}
.directorist-gutenberg-listing-badge-featured{
    background: var(--directorist-color-warning);
    color: #fff;
}
.directorist-gutenberg-listing-badge-new{
    background: var(--directorist-color-new-badge);
    color: #fff;
}
.directorist-gutenberg-listing-badge-popular{
    background: var(--directorist-color-primary);
    color: #fff;
}

// Block Icon Styles
.block-editor-block-icon svg.directorist-gutenberg-block-icon{
    fill: none !important;
    color: #000;
}

// Color Picker Styles
.directorist-gutenberg-color-picker-container{
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: space-between;
    margin-bottom: 16px;
    .directorist-gutenberg-color-picker-label{
        font-size: 11px;
        font-weight: 500;
        text-transform: uppercase;
        line-height: 1.4;
        display: block;
    }
    .components-button{
        width: 100px;
        height: 30px;
        border: 1px solid var(--directorist-color-border);
        border-radius: 4px;
        cursor: pointer;
    }
    .directorist-gutenberg-color-picker-wrapper{
        position: relative;
        display: inline-block;
    }
}