// Listing Card Element Content
.directorist-gutenberg-listing-card-element{
    margin-bottom: 0.5em;
}
.directorist-gutenberg-listing-card-element-content{
	display: flex;
    gap: 10px;
    margin: 0;
    font-size: 14px;
    line-height: 1.3;
    color: var(--directorist-color-body);
    svg{
        width: 16px;
        height: 16px;
        fill: var(--directorist-color-light-gray);
    }
}

// Listing Card Badge Styles
.directorist-gutenberg-listing-badge{
    display: inline-flex;
    gap: 4px;
    align-items: center;
    justify-content: center;
    width: auto;
    padding: 5px 7px;
    border-radius: 4px;
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;

    svg{
        width: 14px;
        height: 14px;
        fill: currentColor;
    }
    span{
        line-height: 0;
    }
}
.directorist-gutenberg-listing-badge-featured{
    background: var(--directorist-color-warning);
    color: #fff;
}
.directorist-gutenberg-listing-badge-new{
    background: var(--directorist-color-new-badge);
    color: #fff;
}
.directorist-gutenberg-listing-badge-popular{
    background: var(--directorist-color-primary);
    color: #fff;
}

// Radius search style
.directorist-search-field-radius_search{
    .directorist-search-field__label{
        position: unset;
        transform: unset;
        display: block;
        font-size: 14px;
        margin-bottom: 15px;
    }
}