// Listing Card Element Content
.directorist-gutenberg-listing-card-element-content{
	display: flex;
    align-items: center;
    gap: 10px;
    svg{
        fill: var(--directorist-gutenberg-icon-color, #808080);
    }
    .directorist-gutenberg-listing-card-element-icon{
        display: flex;
        align-items: center;
    }
    .directorist-gutenberg-listing-card-element-details{
        display: flex;
        gap: 5px;
    }
}
.directorist-gutenberg-listing-card-block{
    font-size: 14px;
    line-height: 1.3;
    color: var(--directorist-color-body);
    svg{
        width: var(--directorist-gutenberg-icon-size);
    }
}
.block-editor-block-list__block .directorist-gutenberg-listing-card-block,
.block-editor-block-list__layout.is-root-container .directorist-gutenberg-listing-card-block,
.directorist-gutenberg-blocks-wrap .directorist-gutenberg-listing-card-block{
	margin-left: 0 !important;
	margin-right: 0 !important;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}
.block-editor-block-list__layout.is-root-container .block-editor-block-list__block:not(.directorist-gutenberg-listing-card-block){
	width: 100%;
}

// Listing Card Badge Styles
.directorist-gutenberg-listing-badge{
    display: inline-flex;
    gap: 4px;
    align-items: center;
    justify-content: center;
    width: auto;
    padding: 5px 7px;
    border-radius: 4px;
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;

    svg{
        width: 14px;
        height: 14px;
        fill: currentColor;
    }
    span{
        line-height: 0;
    }
}
.directorist-gutenberg-listing-badge-featured{
    background: var(--directorist-color-warning);
    color: #fff;
}
.directorist-gutenberg-listing-badge-new{
    background: var(--directorist-color-new-badge);
    color: #fff;
}
.directorist-gutenberg-listing-badge-popular{
    background: var(--directorist-color-primary);
    color: #fff;
}

// Radius search style
.directorist-search-field-radius_search{
    .directorist-search-field__label{
        position: unset;
        transform: unset;
        display: block;
        font-size: 14px;
        margin-bottom: 15px;
    }
}

// Listing Card Title Styles
.directorist-gutenberg-listing-card-title {
    font-size: 18px;
    font-weight: 500;
    padding: 0;
    text-transform: none;
    line-height: 20px;
    margin: 0;
    text-decoration: none;
    color: var(--directorist-color-dark);
}

// Toolbar Styles
.directorist-gutenberg-toolbar {
	gap: 6px;
	padding: 0px 6px;
	.components-button {
		padding-left: 0 !important;
		padding-right: 0 !important;
		box-shadow: 0 0;

		&:focus:before {
			box-shadow: 0 0;
			outline: none;
		}

		&:hover:not(:disabled, [aria-disabled="true"]) {
			box-shadow: 0 0;
		}

		&.is-selected {
			span {
				color: #fff;
				background-color: #000;
			}
		}

		span {
			border: 1px solid;
			padding: 6px;
			border-radius: 2px;
			line-height: 1.4;
			font-size: 13px;
		}
	}
}

// Block Width Styles
body.directorist-gutenberg-listings-archive-grid-view{
	.block-editor-block-list__layout.is-root-container{
		max-width: 645px;
		margin-left: auto;
		margin-right: auto;
	}
}
.post-type-directorist_gbt .block-editor-block-list__layout:not(.is-layout-grid),
.directorist-gutenberg-blocks-wrap,
.directorist-gutenberg-blocks-wrap .wp-block-group:not(.is-layout-grid) {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	gap: 0 12px;
	.directorist-gutenberg-block-width-100 {
		width: 100%;
	}
	.directorist-gutenberg-block-width-75 {
		width: calc(75% - 12px);
		@media only screen and (max-width: 480px) {
			width: 100%;
		}
	}
	.directorist-gutenberg-block-width-67 {
		width: calc(66.67% - 12px);
		@media only screen and (max-width: 480px) {
			width: 100%;
		}
	}
	.directorist-gutenberg-block-width-50 {
		width: calc(50% - 12px);
		@media only screen and (max-width: 480px) {
			width: 100%;
		}
	}
	.directorist-gutenberg-block-width-33 {
		width: calc(33.33% - 12px);
		@media only screen and (max-width: 767px) {
			width: calc(50% - 12px);
		}
		@media only screen and (max-width: 480px) {
			width: 100%;
		}
	}
	.directorist-gutenberg-block-width-25 {
		width: calc(25% - 12px);
		@media only screen and (max-width: 767px) {
			width: calc(50% - 12px);
		}
		@media only screen and (max-width: 480px) {
			width: 100%;
		}
	}
}
.post-type-directorist_gbt .block-editor-block-list__layout.is-layout-flex{
	.directorist-gutenberg-listing-card-block{
		flex: unset;
	}
}
.directorist-gutenberg-blocks-wrap{
	.wp-block-group,
	.wp-block-columns{
		width: 100%;
	}
}