.directorist-gutenberg-listing-card-element-content{
	display: flex;
    gap: 10px;
    margin: 0;
    font-size: 14px;
    line-height: 1.3;
    color: var(--directorist-color-body);
    margin-bottom: 0.5em;
    svg{
        width: 16px;
        height: 16px;
    }
}