.directorist-gutenberg-listing-badge{
    display: inline-flex;
    gap: 4px;
    align-items: center;
    justify-content: center;
    width: auto;
    padding: 5px 7px;
    border-radius: 4px;
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    svg{
        width: 14px;
        height: 14px;
        fill: currentColor;
    }
    span{
        line-height: 0;
    }
}
.directorist-gutenberg-listing-badge-new{
    background: var(--directorist-color-new-badge);
    color: #fff;
}