.wp-block-directorist-gutenberg-listings-archive-search {
	.directorist-gutenberg-listings-archive-search-nav {
		margin-bottom: 20px;
	}
	.directorist-type-nav__list{
		display: flex;
		justify-content: center;
		align-items: flex-end;
		flex-wrap: wrap;
		gap: 25px;
		padding: 0;
		margin: 0;
		list-style-type: none;
		overflow-x: auto;
		scrollbar-width: thin;
		li{
			flex: none;
			margin: 0;
			list-style: none;
			line-height: 1;
		}
		.directorist-type-nav__link{
			position: relative;
			display: flex;
			align-items: center;
			flex-direction: column;
			font-size: 15px;
			font-weight: 500;
			line-height: 20px;
			text-decoration: none;
			white-space: nowrap;
			padding: 0 0 8px;
			border-bottom: 2px solid transparent;
			color: var(--directorist-color-body);
		}
		.directorist-icon-mask{
			display: inline-block;
			margin: 0 0 10px;
		}
		.directorist-type-nav__list__current{
			.directorist-type-nav__link{
				border-bottom-color: var(--directorist-color-primary);
			}
		}
	}
}