/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.directorist-gutenberg-listings-archive-contents,
.directorist-gutenberg-listings-archive{
	.directorist-container-fluid{
		padding: 0;
	}
}