.directorist-gutenberg-listing-card-element-view-count{
    .directorist-gutenberg-listing-card-element-content{
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .directorist-gutenberg-listing-card-element-icon{
        line-height: 1;
        svg{
            width: 15px;
            height: 15px;
            fill: var(--directorist-color-light-gray);
        }
    }
    .directorist-gutenberg-listing-card-views{
        font-size: 14px;
        color: var(--directorist-color-body);
    }
}