.directorist-gutenberg-listing-card-element-pricing{
    .directorist-gutenberg-pricing-meta{
        font-size: 14px;
        line-height: 18px;
        position: relative;
        display: inline-block;
    }
    .directorist-listing-price{
        font-size: 14px;
        font-weight: 700;
        padding: 0;
        background: transparent;
        color: var(--directorist-color-body);
    }
}