.directorist-gutenberg-listing-card-element-rating{
    .directorist-gutenberg-listing-card-element-content{
        display: flex;
        align-items: center;
        gap: 10px;
        margin: 0;
    }
    .directorist-gutenberg-listing-card-rating-stars{
        display: flex;
        align-items: center;
        gap: 4px;
        span{
            line-height: 14px;
            svg{
                width: 14px;
                height: 14px;
                fill: #d1d1d1;
            }
        }
        .directorist-gutenberg-listing-card-rating-star-active{
            svg{
                fill: var(--directorist-color-warning);
            }
        }
    }
    .directorist-gutenberg-listing-card-rating-info{
        display: flex;
        align-items: center;
        gap: 3px;
        font-size: 14px;
    }
    .directorist-gutenberg-listing-card-rating-value{
        color: var(--directorist-color-body);
        font-weight: 500;
    }
    .directorist-gutenberg-listing-card-rating-count{
        font-weight: 400;
        color: var(--directorist-color-light-gray);
    }
}