.directorist-gutenberg-listing-card-element-content{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0;
    font-size: 14px;
    line-height: 1.3;
    color: var(--directorist-color-body);

    .directorist-gutenberg-listing-card-element-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        width: 20px;
        height: 20px;
        color: currentColor;

        svg {
            width: 100%;
            height: 100%;
            fill: currentColor;
        }
    }
    .directorist-gutenberg-listing-card-element-label{
        display: inline-block;
        margin-right: 5px;
    }
}